<!DOCTYPE html>
<html lang="en">
    <%- include("./partial/head.ejs") %>
<body>
    <% console.log(book) %>
    <%- include("./partial/nav.ejs") %>
    <h1><%= book.title %></h1>
    <a href="/books/edit/<%= book._id%>">Edit <%= book.title%></a>
    <a href="/books/edit/"></a>
    <h3><%= book.author %></h3>
    <p><%= book.completed ? "Yeah I read that" : "Still on the list" %></p>
</body>
</html>